{% extends "base.html" %}

{% block content %}
    <h1>Utilities</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.remove_fulltext_duplicates() }}</p>
        <p>{{ form.remove_url_duplicates() }}</p>
    </form>
    <h1>Data Acquisition and Update</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.update_tweets() }}</p>
        <p>{{ form.crawl_commoncrawl() }}</p>
        <p>
            {{ form.newsapi_keyword_field.label }}<br>
            {{ form.newsapi_keyword_field(size=32) }}<br>
            {% for error in form.newsapi_keyword_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.newsapi_max_pages_field.label }}<br>
            {{ form.newsapi_max_pages_field(size=32) }}<br>
            {% for error in form.newsapi_max_pages_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.request_newsapi() }}
        </p>
        <p>{{ form.update_newsapi() }}</p>
        <p>{{ form.crawl_fulltext_for_newsapi() }}</p>
    </form>
{% endblock %}